{% extends "base.html" %}
<title>{% block title %}关于 - {{ SITE_CONFIG.网站名称 }}{% endblock %}</title>
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col">

        {% include 'user_info.html' %}

        <div class="card mt-3"  >
          <div class="card-body">
            <h5 class="card-title">关于我</h5>
            <p class="card-text">姓名：{{ SITE_CONFIG.我的信息.名字 }}</p>
              {% if SITE_CONFIG.我的信息.地址 %}
                  <p class="card-text">地址：{{ SITE_CONFIG.我的信息.地址 }}</p>
              {% endif %}

            <p class="card-text">毕业院校：xxxx</p>

          </div>
        </div>

        <div class="card mt-3"  >
          <div class="card-body">
            <h5 class="card-title">我的技术栈</h5>
            <p class="card-text">js、css、react、python、typescript、c、c++</p>
          </div>
        </div>


{#        <div class="card mt-3"  >#}
{#          <div class="card-body">#}
{#            <h5 class="card-title">社交信息</h5>#}
{#            <p class="card-text">github: </p>#}
{#            <p class="card-text">微博: </p>#}
{#            <p class="card-text">微信: </p>#}
{#            <p class="card-text">微信公众号: </p>#}
{##}
{##}
{#          </div>#}
{#        </div>#}


    </div>
    <div class="col-1">

    </div>
  </div>
</div>




{% endblock %}