{% extends "base.html" %}
{% block title %}{{ object.title }}{% endblock %}
{% block keywords %}{% if object.keywords %}{{ object.keywords }}{% endif %}{% endblock %}
{% block description %}{% if object.description %}{{ object.description }}{% endif %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-3 d-none d-md-block">
     <div class="row">
         <div class="col">
             {% include 'user_info.html' %}
         </div>
     </div>
          <div class="row mt-5">
         <div class="col">
             {% include 'category.html' %}
         </div>
     </div>
    </div>
    <div class="col">

<article >



{# 文章标题 #}
<h1>{{ object.title }}</h1>

{# 是否原创 #}
{% if object.is_original %}
    <span class="badge bg-success">原创</span>
{% else %}
    <span class="badge bg-secondary">转载</span>
{% endif %}

{#文章发布时间#}
<span class="text-muted text-small"> {{ object.created|date }}</span>
<hr>

{#文章内容#}
<p>{{ object.content_html|safe }}</p>


</article>
    </div>
  </div>

</div>






{% endblock %}