<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" >
    <link href="https://cdn.staticfile.org/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" >
    <link href="https://cdn.staticfile.org/prism/1.25.0/themes/prism.min.css" rel="stylesheet" >
{#    <link href="https://cdn.staticfile.org/prism/1.25.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" >#}
{#    <link href="https://cdn.staticfile.org/prism/1.25.0/themes/prism-funky.min.css" rel="stylesheet" >#}
{#    <link href="https://cdn.staticfile.org/prism/1.25.0/themes/prism-dark.css" rel="stylesheet" >#}

    <title>{% block title %}{{ SITE_CONFIG.网站名称 }}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">

    {% block style %}{% endblock %}


</head>
<body>

<main class="container">

{% include "header.html" %}


{% block content %}{% endblock %}


{% include "footer.html" %}

</main>


<script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.staticfile.org/prism/1.25.0/components/prism-core.min.js"></script>
{#<script src="https://cdn.staticfile.org/prism/1.25.0/themes/prism.min.js"></script>#}
{#<script src="https://cdn.staticfile.org/prism/1.25.0/plugins/line-numbers/prism-line-numbers.min.js"  data-manual></script>#}
{#<script src="https://cdn.staticfile.org/prism/1.25.0/components/prism-javascript.min.js"  data-manual></script>#}


<script src="https://cdn.staticfile.org/prism/1.25.0/plugins/autoloader/prism-autoloader.min.js"></script>

<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>

</body>
</html>